input,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --clr-semantic-300: #ff000024;
  --clr-semantic-400: red;

  --clr-semantic-500: #00800036;
  --clr-semantic-600: green;

  --ff-200: monospace;
  --fs-100: 0.8rem;
}

.err-msg {
  color: var(--clr-semantic-400);
  background-color: var(--clr-semantic-300);
  font-family: var(--ff-200);
  padding: 3px 3px;
  border-radius: 4px;
  display: none;
  font-size: var(--fs-100);
}

.input-container {
  margin-bottom: 10px;
}

input.active:valid {
  border: 2px solid var(--clr-semantic-500);
  background-color: var(--clr-semantic-500);
  outline-color: var(--clr-semantic-500);
  color: var(--clr-semantic-600);
}

input.active:invalid {
  border: 2px solid var(--clr-semantic-300);
  background-color: var(--clr-semantic-300);
  outline-color: var(--clr-semantic-300);
  color: var(--clr-semantic-400);
}
